/* CSS declarations go here */
body {
    font-family: Helvetica;
    color: #6b566b;
    background-color: rgba(244, 245, 242, 0.46);;
}

h1 {
    font-variant: small-caps;
    text-transform: capitalize;
}
div.projectReport {
    border-style: none;
    border-color: : #f5f2f2;
}

.additionBar {
    fill: #D9E9D6;
    stroke-width: 2;
    stroke: #AEE4A7;
}

.subtractionBar {
    fill: #F8B0B0;
    stroke-width: 2;
    stroke: #FF7272;
}

div.Avatar {

}

div.Avatar img {
    height: 100;
    width: 100;
}
